@import "../../utils/vars.scss";
@import "../../utils/mixins";

.hero {
  background: url("../../assets/images/hero.jpg") no-repeat center center/cover;
  backdrop-filter: blur(10px);
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    background-color: var(--overlay);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 0.9rem;
  }

  &__number {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;

    @include onTablet {
      font-size: 1.9rem;
    }
  }

  &__subtitle {
    padding: 0;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;

    &:before {
      content: attr(data-text);
      position: absolute;
      background-color: transparent;
      color: #fff;
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      animation: animate 8s linear infinite;
      filter: drop-shadow(0 0 20px #fff);
    }

    @include onTablet {
      font-size: 3.5rem;
    }

    @include onAverage {
      font-size: 5rem;
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-style: italic;

    @include onTablet {
      font-size: 1.6rem;
    }

    @include onAverage {
      font-size: 2.6rem;
    }
  }

  &__button {
    display: flex;
    margin: 1rem 0;
    height: 40px;
    border-radius: 6px;
    background: var(--gradient);
    border: 1px solid var(--gradient);
    align-items: center;
    opacity: 0.8;
    width: 100%;
    justify-content: center;
    transition: 0.5s linear;

    @include onTablet {
      height: 40px;
      width: 240px;
    }

    &--text {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      padding: 15px;
      text-decoration: none;

      @include onTablet {
        font-size: 24px;
      }

      &:hover {
        color: #000 !important;
        cursor: pointer;
      }
    }

    &:hover {
      opacity: 1;
      background: var(--gradient);
      border: 1px solid var(--gradient);
      cursor: pointer;
      transition: 0.5s linear;
    }
  }
}

.coolinput {
  display: flex;
  flex-direction: column;

  &__container {
    margin: 30px auto 0;
    width: 100%;

    @include onTablet {
      margin: 30px 0 0;
    }
  }

  &__text {
    font-size: 0.75rem;
    color: var(--secondary-dark);
    font-weight: 700;
    position: relative;
    top: 0.1rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: unset;
    width: fit-content;
  }

  &__input {
    height: 40px;
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px var(--secondary-dark) solid;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    width: 100%;

    &--error {
      height: 40px;
      padding: 11px 10px;
      font-size: 0.75rem;
      border: 2px var(--error) solid;
      border-radius: 5px;
      background: transparent;
      color: #fff;
      width: 100%;

      &:focus {
        outline: none;
      }

      @include onTablet {
        width: 240px;
      }
    }

    @include onTablet {
      width: 240px;
    }

    &--textarea {
      height: 80px;
      padding: 11px 10px;
      font-size: 0.75rem;
      border: 2px var(--secondary-dark) solid;
      border-radius: 5px;
      background: transparent;
      color: #fff;

      &-error {
        height: 80px;
        padding: 11px 10px;
        font-size: 0.75rem;
        border: 2px var(--error) solid;
        border-radius: 5px;
        background: transparent;
        color: #fff;

        &:focus {
          outline: none;
        }

        @include onTablet {
          width: 240px;
        }
      }

      @include onTablet {
        width: 240px;
      }

      &:focus {
        outline: none;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: var(--error);
    font-size: 10px;
    margin-left: 10px;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;

  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;

  &__active {
    opacity: 1;
    transform: translateX(0);
  }

  &__experiance {
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 5em;
    justify-content: center;
    align-items: center;
    background: var(--overlay);
    border-radius: 8px;
    text-align: center;
    color: #fff;
  }

  &__nums {
    font-size: 16px;
    font-style: italic;

    @include onTablet {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 10px;
    font-style: italic;

    @include onTablet {
      font-size: 14px;
    }
  }
}

// .timer.active {
//   opacity: 1;
//   transform: translateX(0);
// }

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
