@import "../../utils/vars.scss";
@import "../../utils/mixins";

.hero {
  background: url("../../assets/images/hero.jpg") no-repeat center center/cover;
  backdrop-filter: blur(10px);
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    background-color: var(--overlay);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
  }

  &__number {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;

    @include onTablet {
      font-size: 1.9rem;
    }
  }

  &__title {
    padding: 0;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #222;

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    &:before {
      content: attr(data-text);
      position: absolute;
      background-color: transparent;
      color: #fff;
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      animation: animate 8s linear infinite;
      filter: drop-shadow(0 0 20px #fff);
    }

    @include onTablet {
      font-size: 3.5rem;
    }

    @include onAverage {
      font-size: 5rem;
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-style: italic;

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;

    @include onTablet {
      font-size: 1.6rem;
    }

    @include onAverage {
      font-size: 2.6rem;
    }
  }
}

.active {
  opacity: 1;
  transform: translateX(0);
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
