@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.main__container {
  display: flex;
  background-color: #f0efff;
  height: 100vh;
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 40px;
  }
}
