@import '../../utils/mixins';

.main__container {
  display: flex;
  flex-direction: column;
  background-color: #f0efff;
  height: 100vh;
  margin: 0 auto;  
  max-width: 1020px;

  @include onDesktop {
    // padding: 0 40px;
  }
}
