@import "../../utils/vars";
@import "../../utils/mixins";

.buildings-section {
  width: 100%;
  padding: 3rem 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(0, 0, 0, 0.02)
  );

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}
