@import "../../utils/mixins";
@import "../../utils/vars";

.demo {
  margin: 100px auto;
  // padding: 1rem;
  // height: 100vh;
  width: 100%;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    @include onAverage {
      flex-direction: row;
      // max-width: 100%;
      // grid-template-columns: 1fr;
      // grid-gap: 30px;
    }
  }

  &__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    @include onAverage {
      width: 45%;
    }
  }

  &__title {
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0 20px 0;

    @include onTablet {
      font-size: 1.6rem;
    }

    @include onDesktop {
      font-size: 1.8rem;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0;
    margin: auto;

    @include onTablet {
      font-size: 2rem;
    }

    @include onDesktop {
      font-size: 3rem;
    }
  }

  &__paragraph {
    color: #fff;
    margin: 0 20px 0;
    font-size: 0.8rem;
    margin-bottom: 1rem;

    @include onTablet {
      font-size: 1rem;
    }

    @include onDesktop {
      font-size: 1.2rem;
    }
  }

  &__video {
    margin: auto;
    // width: 320px;
    // height: 350px;

    &--player {
      width: 100%;
      height: auto;
    }
  }
}

// @media screen and (max-width: 940px) {
//   .demo .container {
//       max-width: 100%;
//       grid-template-columns: 1fr;
//       grid-gap: 30px;
//   }

//   .demo iframe {
//       width: 100%;
//       height: auto;
//   }
// }
