.carousel {
  margin: 40px auto 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      width: 300px !important;
      height: 240px !important;
      margin: 0 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
      }
    }
  }
}
