@import "../../utils/mixins";
@import "../../utils/vars";

.containers {
  width: 100%;
  margin: 100px auto 0;
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.heading {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  justify-content: center;
  padding: 20px;

  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  @include onTablet {
    font-size: 2rem;
  }

  @include onDesktop {
    font-size: 3rem;
  }
}

.image__title {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  font-style: italic;
  margin: 20px 50px 0;
}

.swiper__container {
  height: 40rem;
  position: relative;

  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  @include onTablet {
    height: 48rem;
  }

  @include onDesktop {
    height: 52rem;
  }
}

.swiper-slide {
  margin-top: 20px;
  width: 90% !important;
  height: 36rem !important;
  position: relative;

  @include onTablet {
    max-width: 60rem;
    height: 42rem;
  }
}

.swiper-slide {
  width: 90%;
  height: 100%;
}

.swiper-slide img {
  width: 80%;
  height: 80%;
  border-radius: 2rem;
  margin: 0 45px;
  align-items: center;
  justify-content: center;
  object-fit: fill;

  @include onTablet {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
  }
}

.slider-controler {
  position: relative;
  bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include onDesktop {
    bottom: 5rem;
  }
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--gradient);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

// .swiper-button-next {
//   left: 80% !important;
//   transform: translateX(-80%) !important;

//   @include onTablet {
//     left: 70% !important;
//     transform: translateX(-70%) !important;
//   }
// }

// .swiper-button-prev {
//   left: 20% !important;
//   transform: translateX(-20%) !important;
//   @include onTablet {
//     left: 30% !important;
//     transform: translateX(-30%) !important;
//   }
// }

// .slider-arrow {
//   background: transparent;
//   width: 3.5rem;
//   height: 3.5rem;
//   border-radius: 50%;
//   left: 42%;
//   transform: translateX(-42%);
// }
