@import "../../utils/mixins";
@import "../../utils/vars";

.container {
  width: 100%;
  height: 100vh;
  margin: 100px auto 0;
}

.heading {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;

  @include onTablet {
    font-size: 2.5rem;
  }

  @include onDesktop {
    font-size: 3.5rem;
  }
}

.image__title {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  // padding: 15px;
  margin: 20px 50px 0;
}

.swiper_container {
  height: 44rem;
  // padding: 2rem 0;
  position: relative;

  @include onTablet {
    height: 48rem;
    // padding: 2rem 0;
  }

  @include onDesktop {
    height: 52rem;
    // padding: 2rem 0;
  }
}

.swiper-slide {
  margin-top: 30px;
  width: 28rem !important;
  height: 36rem !important;
  position: relative;

  @include onTablet {
    width: 37rem;
    height: 42rem;
  }
}

.swiper-slide {
  width: 90%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.swiper-slide img {
  width: 80%;
  height: 80%;
  border-radius: 2rem;
  // padding: 0 40px;
  margin: 0 45px;
  align-items: center;
  justify-content: center;
  object-fit: cover;

  @include onTablet {
    width: 28rem;
    padding: 0;
    margin: 0;
    height: 36rem;
    border-radius: 1rem;
  }
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  left: 80% !important;
  transform: translateX(-80%) !important;

  @include onTablet {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

.swiper-button-prev {
  left: 20% !important;
  transform: translateX(-20%) !important;
  @include onTablet {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

.slider-arrow {
  background: transparent;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
}

// .slider-controler {
//   display: none;

//   @include onTablet {
//     display: flex;
//   }
// }

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--gradient)
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
