@import "../../utils/mixins";
@import "../../utils/vars";

.delivery {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  margin: 0 auto;

  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/wood-deck2.jpg") center center/cover
      no-repeat;
    clip-path: polygon(0 12%, 100% 4%, 100% 94%, 0 89%);
    height: 300px;
    opacity: 1;

    @include onTablet {
      border-bottom-right-radius: 60px;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 89%);
    }

    &--text {
      color: #fff;
      text-align: center;
      font-style: italic;
      font-size: 0.8rem;
      padding: 30px;

      @include onTablet {
        font-size: 1rem;
      }

      @include onAverage {
        font-size: 1.3rem;
      }
    }
  }
}

.active {
  opacity: 1;
  transform: translateX(0);
}
