@import "../../utils/mixins";
@import "../../utils/vars";

.delivery {
  padding-left: 20px;
  padding-right: 20px;
  // margin-top: 0;

  @include onAverage {
    margin-top: 100px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/wood-deck2.jpg") center center/cover
      no-repeat;
    clip-path: polygon(0 12%, 100% 4%, 100% 94%, 0 89%);
    height: 300px;
    opacity: 1;
    // margin-top: 50px;

    @include onTablet {
      // margin-top: 100px;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 89%);
    }

    &--text {
      color: #fff;
      text-align: center;
      font-style: italic;
      font-size: 0.8rem;
      padding: 30px;

      @include onTablet {
        font-size: 1rem;
      }

      @include onAverage {
        font-size: 1.3rem;
      }
    }
  }
}
