@import "../../utils/vars";
@import "../../utils/mixins.scss";

.rate {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  padding: 20px;

  &__title {
    color: #fff;
    font-size: 18px;
    align-self: center;

    @include onAverage {
      font-size: 28px;
    }
  }

  &__form {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    @include onTablet {
      width: 70%;
    }
    @include onAverage {
      flex-direction: row;
      margin-top: 50px;
      width: 100%;
    }
  }

  &__part {
    &--one {
      display: flex;
      flex-direction: column;

      @include onAverage {
        margin-right: 10px;
        max-width: 300px;
      }
    }
  }

  &__input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    background: linear-gradient(to bottom right, transparent 0%, rgba(19, 18, 18, 0.6) 100%);

    @include onAverage {
      width: 300px;
    }
  }

  &__textinput {
    display: flex;
    align-content: center;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, transparent 0%, rgba(19, 18, 18, 0.6) 100%);

    color: #fff;
    margin-right: 15px;
    margin-bottom: 12px;

    @include onAverage {
      max-width: 300px;
      height: 165px;
    }
  }
}

::placeholder {
  color: var(--grey-light);
}
