@import "../../utils/vars";
@import "../../utils/mixins.scss";

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 480px;
  border: 1px solid var(--grey-dark);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  @include onDesktop {
    width: 290px;
  }

  &__comment {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    color: var(--grey-light);
    font-size: 18px;
  }
}
