@import "../../utils/vars.scss";
@import "../../utils/mixins.scss";

.about {
  margin: 100px auto;
  padding-left: 20px;
  padding-right: 20px;

  &__container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @include onAverage {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;


    &--wrapper {
      width: 100%;
      margin: 0 auto;

      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 2s ease-in-out, transform 3s ease-in-out;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;

    opacity: 0;
    transform: translateX(+100%);
    transition: opacity 2s ease-in-out, transform 3s ease-in-out;

    @include onAverage {
      padding: 20px;
      margin: 60px auto;
    }

    @include onDesktop {
      margin: 100px auto;
    }

    &--title {
      font-size: 2rem;
      margin-top: 20px;
      color: #fff;

      @include onTablet {
        font-size: 2rem;
      }

      @include onDesktop {
        font-size: 3rem;
      }
    }

    &--description {
      font-size: 0.9rem;
      font-style: italic;
      font-weight: 300;
      color: rgb(247, 227, 227);

      @include onTablet {
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
      }

      @include onDesktop {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 400;
      }
    }

    &--me {
      font-size: 1.1rem;
      font-style: italic;
      font-weight: 300;
      color: rgb(247, 227, 227);

      @include onTablet {
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 400;
      }

      @include onDesktop {
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 600;
      }

      &-highlight {
        background: linear-gradient(to right, #bd9546, #e6d48a, #deb750);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }
    }
  }
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: var(--liniar-gradient);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "Explore More";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }

  &:hover {
    background-position: right;
    transition-duration: 1s;

    &::before {
      background-position: right;
      transition-duration: 1s;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
