@import "../../utils/mixins";

.nav {
  display: flex;
  width: 100%;
  // max-width: max-content;
  height: 70px;
  background-color: #3586ff;

  @include onDesktop {
    height: 100px;
  }

  &__button {
    display: flex;
    color: #fff;
    border: none;
    background-color: #3586ff;
    transition: 0.5s;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__content {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &--logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      gap: 10px;
      border: none;
      background-color: #3586ff;
    }

    &--title {
      color: #fff;
    }

    &--details {
      display: flex;
      flex-direction: row;
      gap: 20px;

      @include onTablet {
        display: none;
      }
    }

    &--burger {
      border: none;
      background-color: #3586ff;
      display: none;

      @include onTablet {
        display: flex;
      }
    }
  }
}

.logo {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 5px;
  transition: 0.5s;

  &__image {
    background-image: url(../../assets/images/logo4.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-size: contain;
  }

  &:hover {
    transform: translateY(-10px);
  }
}
