@import "../../utils/mixins";
@import "../../utils/fonts";

.nav {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #3586ff;

  @include onDesktop {
    height: 100px;
  }

  &__button {
    display: flex;
    color: #fff;
    border: none;
    background-color: #3586ff;
  }

  &__content {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &--logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50px;
      box-sizing: border-box;

      border: none;
      background-color: #3586ff;
      transition: 0.5s;

      &:hover {
        transform: translateY(-5px);
      }
    }

    &--title {
      color: #fff;
      font-family: Castoro-Regular;
      font-weight: normal;
      margin: 0;
      padding: 0;

      &--small {
        color: #fff;
        margin: 2px, 0;
        padding: 0;
        font-size: 8px;
        font-family: Castoro-Regular;
      }
    }

    &--details {
      display: flex;
      flex-direction: row;
      gap: 20px;

      @include onTablet {
        display: none;
      }
    }

    &--burger {
      border: none;
      background-color: #3586ff;
      display: none;

      @include onTablet {
        display: flex;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
  transition: 0.5s;

  &__image {
    background-image: url(../../assets/images/Vector.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
  }

  &:hover {
    transform: translateY(-10px);
  }
}
