@font-face {
  font-family: Sans-Regular;
  src: url(../../public/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: Castoro-Regular;
  src: url(../../public/fonts/CastoroTitling-Regular.ttf);
}