:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffea00;
  --secondary-dark:#e3d002;
  --overlay: rgba(0,0,0,.7);
  --total-black: rgba(0,0,0,.9);
  --gradient: linear-gradient(#bd9546, #e6d48a, #deb750);
}