:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffea00;
  --secondary-dark:#deb750;
  --overlay: rgba(0,0,0,.7);
  --total-black: rgba(0,0,0,.9);
  --error: rgba(252, 1, 1, 0.7);
  --grey-light: #CCCCCC;
  --grey-dark: #333333;

  // gradients
  --grey-gradient: linear-gradient(to bottom, #CCCCCC, #333333);
  --liniar-gradient: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  --gradient: linear-gradient(#bd9546, #e6d48a, #deb750);
}